*.exe
*.o
*.d
*.mk
*.axf
*.map
*.bin
*.jtag
*.swp
*.swo
/src/device/libpixy_m0/Release/liblibpixy_m0.a
/src/device/libpixy_m0/src/debug_frmwrk.c
/src/device/libpixy_m0/src/ipc_mbx.c
/src/device/libpixy_m0/src/lpc43xx_adc.c
/src/device/libpixy_m0/src/lpc43xx_cgu.c
/src/device/libpixy_m0/src/lpc43xx_i2c.c
/src/device/libpixy_m0/src/lpc43xx_scu.c
/src/device/libpixy_m0/src/lpc43xx_ssp.c
/src/device/libpixy_m0/src/lpc43xx_uart.c
/src/device/libpixy_m0/src/system_LPC43xx.c
/src/device/libpixy_m4/Release/liblibpixy_m4.a
/src/device/libpixy_m4/src/blob.cpp
/src/device/libpixy_m4/src/blobs.cpp
/src/device/libpixy_m4/src/calc.cpp
/src/device/libpixy_m4/src/chirp.cpp
/src/device/libpixy_m4/src/colorlut.cpp
/src/device/libpixy_m4/src/debug_frmwrk.c
/src/device/libpixy_m4/src/ipc_mbx.c
/src/device/libpixy_m4/src/lpc43xx_adc.c
/src/device/libpixy_m4/src/lpc43xx_cgu.c
/src/device/libpixy_m4/src/lpc43xx_i2c.c
/src/device/libpixy_m4/src/lpc43xx_scu.c
/src/device/libpixy_m4/src/lpc43xx_ssp.c
/src/device/libpixy_m4/src/lpc43xx_uart.c
/src/device/libpixy_m4/src/qqueue.cpp
/src/device/libpixy_m4/src/system_LPC43xx.c
/src/device/main_m0/Release/cr_startup_lpc43xx-m0app.asm
/src/device/main_m0/Release/main_m0.asm
/src/device/main_m4/SPIFI/pixy_firmware.hex
*.pro.user
*~
/src/device/libpixy_m4/src/robo.cpp
/src/host/build-pixymon-Desktop-Debug/*
